<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.passitwiki.passit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">


        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <!-- That makes the layout resizable when the keyboard is drawn-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- added -->
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

    </application>
</manifest>